.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .navbar_wrapper a{
   padding-left:30px; 
} */

td {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btnDelete {
  background-color: #f72585;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btnUpdate {
  background-color: #c77dff;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
}

.btnLogin {
  background-color: #ff758f;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
}

.btnRegister {
  background-color: #deaaff;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
}

.btnAdd {
  background-color: #90e0ef;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
}

.btnUpdate {
  background-color: #e0aaff;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
}

h1 {
  color: #2FF3E0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
